
  
{% if contacts %}

{% csrf_token %}
<ul class="list-group col-4">
{% for contact in contacts %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ contact.name }}
        <span class="badge badge-danger badge-pill" 
            style="cursor: pointer;"
            hx-delete="{% url 'delete-contact' contact.pk %}"
            hx-target="#contact-list"
            hx-confirm="Are you sure you wish to delete?">X</span>
            {{ contact.phone_number }}
    </li>
{% endfor %}
</ul>
{% else %}
<p>No Contact</p>
{% endif %}